<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flybear.hziee.app.mapper.ActivitysMapper">
  <resultMap id="BaseResultMap" type="flybear.hziee.app.model.Activitys">
    		<id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="INTEGER"/>
        <result column="end_time" property="endTime" jdbcType="INTEGER"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
        <result column="people_count" property="peopleCount" jdbcType="INTEGER"/>
        <result column="pass" property="pass" jdbcType="INTEGER"/>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select id,name,user_id,start_time,end_time,place,people_count,pass from activitys
  </select>
    
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,name,user_id,start_time,end_time,place,people_count,pass from activitys
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activitys
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="flybear.hziee.app.model.Activitys">
    update activitys set name = #{name,jdbcType=VARCHAR},user_id = #{userId,jdbcType=INTEGER},start_time = #{startTime,jdbcType=INTEGER},end_time = #{endTime,jdbcType=INTEGER},place = #{place,jdbcType=VARCHAR},people_count = #{peopleCount,jdbcType=INTEGER},pass = #{pass,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="flybear.hziee.app.model.Activitys">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into activitys (id,name,user_id,start_time,end_time,place,people_count,pass)  
    values ( #{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER},#{startTime,jdbcType=INTEGER},#{endTime,jdbcType=INTEGER},#{place,jdbcType=VARCHAR},#{peopleCount,jdbcType=INTEGER},#{pass,jdbcType=INTEGER})
  </insert>  
</mapper>